.nav {
  width: 95vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  border-radius: 50px;
  padding: 0 20px;
  height: 56px;
  border: 2px solid rgba(113, 83, 217, 1);
  margin-top: 30px;
  margin-bottom:80px;
  z-index:20;
  position:relative
}

.Title {
  color: white;
  text-align: left;
  font-size: 1rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  text-decoration:none;
}

.Title:hover {
  color:white;
  cursor:pointer;
}


.NavbarItems {
  margin: 0 auto;
  display: flex;
  justify-content: left;
  font-size: 1.2rem;
  text-align: left;
}

@media (max-width: 900px) {
  .NavbarItems {
    position: fixed;
    height:80px;
    bottom: 0;
    left:0;
    width: 100%;
    margin:0;
    align-items: center;
    justify-content: center;
    background: #222042;
    border-top: 3px solid rgba(113, 83, 217, 1);
  }
}

.navbar-logo {
  justify-self: start;
  margin:0;
  cursor: pointer;
}

.logo {
  width: 230px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  padding-left: 0rem;
  font-size: 25px;
  margin-bottom:0;
  height:56px;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links:hover {
    border-radius: 0px;
  }
}

.nav-img {
  width:24px;
  margin-bottom: 10px;
}

.nav-links-clicked {
  color: white;
  background-color: red;
  text-decoration: none;
  border-radius: 4px;
}

.nav-links:hover {
  color: white;
  background-color: rgba(113, 83, 217, 1);
  box-shadow: 0 0 0 10px rgba(113, 83, 217, 1); 
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}
