.nav {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  align-items: center;
  border-radius: 50px;
  padding: 0 20px;
  height: 56px;
  border: 2px solid rgba(113, 83, 217, 1);
  margin-top: 30px;
  margin-bottom:80px;
}

.Title {
  color: white;
  text-align: left;
  font-size: 1rem;
  position: absolute;
}


.NavbarItems {
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.2rem;
  text-align: left;
}

.navbar-logo {
  justify-self: start;
  margin:0;
  cursor: pointer;
}

.logo {
  width: 230px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  list-style: none;
  text-align: left;
  justify-content: space-between;
  padding-left: 0rem;
  font-size: 25px;
  margin-bottom:0;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links-clicked {
  color: white;
  background-color: red;
  text-decoration: none;
  border-radius: 4px;
}

.nav-links:hover {
  color: white;
  background-color: rgba(113, 83, 217, 1);
  border: 10px solid rgba(113, 83, 217, 1);
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}
